# fichier généré, il sera écrasé, ne pas modifier

SetEnv APPLICATION_ENV development
SetEnv VOO4_APPBOOTSTRAPPER "/home/web/sites/cores//20160205-02.16-38//src/tools/Voo4_AppBootstrapper.php"
SetEnv PATH_FARM "/home/web/sites/confs/dev/"
SetEnv PATH_VOO4_CORE "/home/web/sites/cores//20160205-02.16-38//src/"
SetEnv PATH_VOO4_EXTLIB  "/home/web/sites/cores//20160205-02.16-38//libs/"
SetEnv PATH_ZF "/home/web/sites/ZendFramework/"

ExpiresActive On
ExpiresByType image/* "access plus 1 month"

ExpiresActive On
ExpiresByType text/javascript "access plus 2 week"