# fichier généré, il sera écrasé, ne pas modifier

SetEnv APPLICATION_ENV development
SetEnv VOO4_APPBOOTSTRAPPER "/home/web/sites/cores//20150302-02.15-87//src/tools/Voo4_AppBootstrapper.php"
SetEnv PATH_FARM "/home/web/sites/confs/dev/"
SetEnv PATH_VOO4_CORE "/home/web/sites/cores//20150302-02.15-87//src/"
SetEnv PATH_VOO4_EXTLIB  "/home/web/sites/cores//20150302-02.15-87//libs/"
SetEnv PATH_ZF "/home/web/sites/ZendFramework/"

#gérer les alias en sortant le bouzin du .htaccess ? 
#Alias /e/Deploye/app_dev/appli_un/public/VooLibJs /home/cedric/www/e/Deploye/cores/20150216-02.15-86/libs/VooLibJs

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_URI} =/favicon.ico [OR]
RewriteCond %{REQUEST_URI} =/server-info [OR]
RewriteCond %{REQUEST_URI} =/server-status
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ dev/test/public/index.php [NC,L]

ExpiresActive On
ExpiresByType image/* "access plus 1 month"

ExpiresActive On
ExpiresByType text/javascript "access plus 2 week"